.sidebar {  
  text-align: center;
  height: 100vh;
}

.sidebar-about {
  margin-bottom: 0em;
  height: 40vh;
}

.sidebar-title {
  bottom: 0;
}

.sidebar-nav {
  margin-bottom: 0rem;
}

.sidebar-about-image {
  margin: 0 auto;
  padding: 1em;
  max-width: 100%;
  max-height: 40vh;
}

.sidebar-copyright {
  bottom: 0;
  position: relative;
}

.rounded {
  border-radius: 50%;
}

.page-title {
  text-align: center;
}
